---
layout: base.liquid
---

<header>
	<h1>{{-site.name-}}</h1>
</header>

<main>
	<ul>
	{%- for x in experience -%}
		{%- assign exp = x[1] -%}
		<li>
			<h2>{{- exp.title -}}</h2>
			<h3>{{- exp.org.name -}}</h3>
			<div>
				<time datetime="{{- exp.period.from -}}" >2015</time>
				<span>&ndash;</span>
				<time datetime="{{- exp.period.to -}}">2017</time>
			</div>
			<p>
			{{-exp.description-}}
			</p>
		</li>
	{%- endfor -%}
	</ul>
	{{- content -}}
</main>

<footer>
	<small>&copy; {{- site.name -}}</small>
</footer>
