---
layout: base.liquid
---

<header>
	<h1>{{-site.name-}}</h1>
</header>

<main>
	<ul>
	{%- assign sortedexp = experience | sortbydate %}
	{%- for exp in sortedexp -%}
		<li>
			<header>
			<h2>{{- exp.title -}}</h2>
			<p>
			{%-if exp.org.uri-%}
				<a target="_blank" link="norel"
				href={{-exp.org.uri-}}>
					{{- exp.org.name -}}
				</a>
			{%-else-%}
				{{- exp.org.name -}}
			{%-endif-%}
			</p>
			<p>
			{%-if exp.current-%}
				since <time datetime="{{- exp.period.from | machine_date -}}">
					{{- exp.period.from | human_date: lang -}}
				</time>
			{%else%}
				<time datetime="{{- exp.period.from | machine_date -}}" >
					{{- exp.period.from | human_date: lang -}}
				</time>
				&ndash;
				<time datetime="{{- exp.period.to | machine_date -}}">
					{{- exp.period.to | human_date: lang -}}
				</time>
			{%-endif-%}
			</p>
			</header>
			<p>
			{{-exp.description-}}
			</p>
		</li>
	{%- endfor -%}
	</ul>
	{{- content -}}
</main>

<footer>
	<small>&copy;&nbsp;{{- site.name -}}</small>
</footer>
