---
layout: base.liquid
---

<header>
	<h1>{{-site.name-}}</h1>
</header>

<main>
	<section>
		<header><h2>About Me</h2></header>
		<p>Hello! I am Kevin. I do things with languages.</p>
	</section>
	<section>
		<header><h2>Experience</h2></header>
	<ol>
	{%- assign sortedexp = experience | sortbydate %}
	{%- for exp in sortedexp -%}
		<li>
			<article>
			<header>
			<h3>{{- exp.title -}}</h2>
			<p>
			{%-if exp.org.uri-%}
				<a target="_blank" link="norel"
				href={{-exp.org.uri-}}>
					{{- exp.org.name -}}
				</a>
			{%-else-%}
				{{- exp.org.name -}}
			{%-endif-%}
			</p>
			<p>
			{%-if exp.current-%}
				since <time datetime="{{- exp.period.from | machine_date -}}">
					{{- exp.period.from | human_date: lang -}}
				</time>
			{%else%}
				<time datetime="{{- exp.period.from | machine_date -}}" >
					{{- exp.period.from | human_date: lang -}}
				</time>
				&ndash;
				<time datetime="{{- exp.period.to | machine_date -}}">
					{{- exp.period.to | human_date: lang -}}
				</time>
			{%-endif-%}
			</p>
			</header>
			<p>
			{{-exp.description-}}
			</p>
			</article>
		</li>
	{%- endfor -%}
	</ol>
	</section>
</main>

<footer>
	<small>&copy;&nbsp;{{- site.name -}}</small>
</footer>
