{%-capture error-%}
<div style="font-family:mono;text-align:center;padding:20px 5px;font-weight:900;background-color:red;">
dataerror: expected value not found in this data structure
</div>
{%-endcapture-%}

{%-assign exp = include.hash[1] -%}
{%-assign type = include.type | default: 'work' -%}

{%-if exp.hide != true and exp.title and exp.title != empty-%}
<div class="experience {{type}}">

<h2>{{exp.title}}</h2>

{%-if exp.period and exp.period != empty-%}
<div>
<p class="period">{{-exp.period-}}</p>
</div>
{%-endif-%}


<div>
{%-comment-%}check if array/hash{%-endcomment-%}
{%-if exp.org.first-%}
{%-if exp.org.uri and exp.org.name-%}
<p class="org-info name">
<a target="_blank"
href="{{-exp.org.uri-}}">
{{-exp.org.name-}}
</a>
</p>
{%-else-%}
{{-error-}}
{%-endif-%}
{%-else-%}
{%-if exp.org-%}
<p class="org-info name">{{-exp.org-}}</p>
{%-endif-%}
{%-endif-%}

{%-if exp.description and exp.description != empty-%}
<p class="description">{{-exp.description-}}</p>
{%-endif-%}

</div>

</div>
{%-endif-%}

