{%-capture error-%}
<div style="font-family:mono;text-align:center;padding:20px 5px;font-weight:900;background-color:red;">
dataerror: expected value not found in this data structure
</div>
{%-endcapture-%}

{%-for hash in site.data.work_experience-%}
{%-assign exp = hash[1] -%}

{%-if exp.hide != true and exp.title and exp.title != empty-%}
<div class="experience work">
<div>
<h2>{{exp.title}}</h2>

{%-comment-%}check if array/hash{%-endcomment-%}
{%-if exp.employer.first-%}
{%-if exp.employer.uri and exp.employer.name-%}
<p class="employer-info">
<a class="employer-info name" href="{{-exp.employer.uri-}}">{{-exp.employer.name-}}</a>
</p>
{%-else-%}
{{-error-}}
{%-endif-%}
{%-else-%}
{%-if exp.employer-%}
<p class="employer-info name">{{-exp.employer-}}</p>
{%-endif-%}
{%-endif-%}

{%-if exp.description and exp.description != empty-%}
<p class="description">{{-exp.description-}}</p>
{%-endif-%}
</div>
{%-if exp.period and exp.period != empty-%}
<div>
<p class="period">{{-exp.period-}}</p>
</div>
{%-endif-%}

</div>
{%-endif-%}

{%-endfor-%}
